<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="{{ global.url }}">
    {% if global.lightavatar or global.darkavatar %}
    <img src="{{ global.lightavatar | prepend: global.url }}" alt="light avatar" width="30" class="d-inline-block align-middle m-0 light-avatar">
    <img src="{{ global.darkavatar | prepend: global.url }}" alt="dark avatar" width="30" class="d-inline-block align-middle m-0 dark-avatar">
    {% endif %}
      {{ global.name }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% for item in global.navigation %}
          <li class="nav-item">
            <a href="{{ item.link | prepend: global.url }}" {% if page.url == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
